In [2]:
import pandas as pd
import glob, os, json
import io 
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

In [3]:
json_dir = 'data/scamprofile'
json_pattern = os.path.join(json_dir, '*.json')
file_list = glob.glob(json_pattern)

dfs = []
for file in file_list:
    with open(file) as f:
        json_data = pd.json_normalize(json.loads(f.read()))
        json_data['site'] = file.rsplit("/", 1)[-1]
    dfs.append(json_data)
scamdf = pd.concat(dfs)

In [4]:
scamdf['occupation'].value_counts().head(10)

 military         322
 –                308
 self employed    225
 engineer         187
 student          171
 nurse             75
 self-employed     70
 business          62
 contractor        53
 Engineer          44
Name: occupation, dtype: int64

In [8]:
scamdf[scamdf['description'].isnull()]

,year_reported,month_reported,username,name,age,occupation,status,inet,email,tags,gender,images,site,description,phone
0,2017,01,nathangilbert130,Nathan Gilbert,36,doctor,widowed,88.202.186.216,nathangilbert2442@gmail.com,"[Male profiles, hangouts, love scammer]",male,[nathangilbert1301.jpg],scamnathangilbert130.json,NaN,NaN
0,2015,05,keneth,Keneth Bruce,60,civil engineer,single,–,kenbrucee@gmail.com,"[Male profiles, angelreturn, love scammer]",male,[keneth1.jpg],scamkeneth.json,NaN,NaN
0,2016,10,josephmax,Joseph Max,56,Military army,widowed,41.242.136.9,josephmax74@gmail.com,"[Male profiles, facebook, love scammer]",male,[josephmax1.jpg],scamjosephmax.json,NaN,NaN
0,2016,12,Esanzab,Esanzab,33,wife,married,192.36.29.100,EsanFoodTH@unseen.is,"[Female profiles, adult18.chat, spammer]",female,[Esanzab1.jpg],scamEsanzab.json,NaN,NaN
0,2014,02,Jhjh28,James Helmick,55,–,–,–,jh2000877@gmail.com,"[Male profiles, fishmeetfish]",male,[Jhjh281.jpg],scamJhjh28.json,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2012,11,stevencookjoe,steven brady,52,plado oil company,–,78.46.238.214,stevencookjoe@yahoo.com,"[Male profiles, love scammer, netlog]",male,"[stevencookjoe1.jpg, stevencookjoe2.jpg, steve...",scamstevencookjoe.json,NaN,NaN
0,2017,01,cynthia214,Cynthia Charles,32,nurse,single,105.112.39.126,cynthiacharles214@yahoo.com,"[Female profiles, love scammer]",female,"[cynthia2141.jpg, cynthia2142.jpg]",scamcynthia214.json,NaN,NaN
0,2017,08,ashley02,Ashley Reed,39,Engineer,divorced,102.248.253.225,ashleyreed3186@gmail.com,"[Female profiles, hangouts, love scammer]",female,[ashley021.jpg],scamashley02.json,NaN,NaN
0,2016,10,Bobbydon,Ricoderek Anderson,51,Military police at U.S. Army,single,41.246.62.28,bobbydonderek@yahoo.com,"[Male profiles, facebook, military scammer]",male,[Bobbydon1.jpg],scamBobbydon.json,NaN,NaN
0,2018,10,willsonbaby,Tessi Willson,29,student,single,104.243.245.45,gen.benhodges60@gmail.com,"[Female profiles, 419 scammer, Mary Uche]",female,[willsonbaby1.jpg],scamwillsonbaby.json,NaN,NaN

## Real Profiles EDA

In [38]:
json_dir = 'data/realprofile'
json_pattern = os.path.join(json_dir, '*.json')
file_list = glob.glob(json_pattern)

dfs = []
for file in file_list:
    with open(file) as f:
        json_data = pd.json_normalize(json.loads(f.read()))
        json_data['site'] = file.rsplit("/", 1)[-1]
    dfs.append(json_data)
realdf = pd.concat(dfs)

In [39]:
realdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17724 entries, 0 to 0
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gender       17724 non-null  object
 1   age          17724 non-null  object
 2   location     17724 non-null  object
 3   status       17724 non-null  object
 4   username     17724 non-null  object
 5   ethnicity    17724 non-null  object
 6   occupation   17724 non-null  object
 7   description  17724 non-null  object
 8   match_age    17724 non-null  object
 9   children     17724 non-null  object
 10  orientation  17724 non-null  object
 11  religion     17724 non-null  object
 12  smoking      17724 non-null  object
 13  drinking     17724 non-null  object
 14  intent       17724 non-null  object
 15  site         17724 non-null  object
dtypes: object(16)
memory usage: 2.3+ MB

In [45]:
stop_words = set(stopwords.words('english')) 

word_tokens = word_tokenize(example_sent)
  
filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]
  
filtered_sentence = []
  
for w in word_tokens:
    if w not in stop_words:
        filtered_sentence.append(w)
  
print(word_tokens)
print(filtered_sentence)

AttributeError: 'Series' object has no attribute 'split'