In [3]:
# !pip install googletrans==4.0.0rc1
# pip install pyldavis
# !pip install easynmt
# nltk.download('omw-1.4')
pd.set_option("max_colwidth", None)

In [3]:
import gensim
from gensim.utils import simple_preprocess
import nltk.corpus
import nltk
import pandas as pd
import gensim.corpora
from langdetect import detect
from googletrans import Translator
from nltk.corpus import stopwords
import numpy
import time

#library that contains punctuation
import string
string.punctuation
from nltk.stem import WordNetLemmatizer

#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()

translater = Translator()

stop_words = stopwords.words('english')
stop_words.extend(['from', 'subject', 're', 'edu', 'use'])

In [246]:
data = pd.read_csv("combined_profile.csv")
data['translated_occupation'].nunique()

715

In [247]:
data['translated_occupation']= data['translated_occupation'].apply(lambda x: x.lower())
data['translated_occupation'].nunique()

523

In [33]:
#defining the function to remove punctuation
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree

#storing the puntuation free text
new_data['translated_occupation']= new_data['translated_occupation'].apply(lambda x:remove_punctuation(x))
new_data['translated_occupation'].nunique()

754

In [48]:
new_data['translated_occupation_lem'].apply(lambda x:x.strip())
new_data['translated_occupation_lem'].apply(lambda x:x.lower())
new_data

,username,age,occupation,status,gender,filtered sentence,Language,y,translated_occupation,status_lem,translated_occupation_lem,translated_occupation_category
0,123canwe,66.0,Retired,single,male,I full fire friskier hell,tr,0,Retired,single,Retired,retired
1,123WILFREDO,28.0,ESTUDIANTE,single,male,ME GUSTA CONOCER CHICAS BONDADOSAS CARIÑOSAS Y...,es,0,STUDENT,single,STUDENT,student
2,1907,48.0,Construction,single,male,laid back earth good sense humor,en,0,Construction,single,Construction,construction
3,52Jim52,70.0,Retired,divorced,male,Retired owner aerospace consuloting firm,da,0,Retired,divorced,Retired,retired
4,Aaron90,28.0,Social worker,single,male,Hello aaron Vermont I vermont 2 years Im reall...,en,0,Social worker,single,Social worker,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8449,zak123hicks,36.0,soldier,widowed,male,Im earth caring honest going loves fun vacatio...,af,1,soldier,widowed,soldier,NaN
8450,zarifa2,24.0,student,single,female,I never know I write part lameSo Im ordinary n...,nl,1,student,single,student,NaN
8451,zerenab,31.0,self employment,single,female,I serious mature woman good valueslearned home...,fr,1,self employment,single,self employment,NaN
8452,zikki100,36.0,nurse,single,female,Im good woman looking good man One best friend...,ro,1,nurse,single,nurse,NaN
8453,zoey094,23.0,teacher,single,female,I would like meet man become life partner Some...,en,1,teacher,single,teacher,NaN

In [37]:
#defining the function for lemmatization
def lemmatizer(text):
    lemm_text = wordnet_lemmatizer.lemmatize(text)
    return lemm_text

new_data['translated_occupation_lem']=new_data['translated_occupation'].apply(lambda x:lemmatizer(x))

In [443]:
data = pd.read_csv("data_cat_draft.csv")
len(data)

7934

In [5]:
data['translated_occupation_lem'].value_counts()

student               541
engineer              493
self employed         427
military              389
retired               267
                     ...
roofer                  2
professor               1
gerente comercial       1
commercial manager      1
salesmarketing          1
Name: translated_occupation_lem, Length: 513, dtype: int64

In [6]:
data['translated_occupation_lem'].unique()

array(['student', 'study', 'manager', 'law student', 'unemployed',
       'educator', 'waitress', 'manicurist', 'university', 'baby sister',
       'independent', 'to study', 'secretary', 'plumber', 'contador',
       'salesman', 'enterprising', 'studying', 'worked', 'nurse', 'clerk',
       'college student', 'construction', 'baker', 'self employed',
       'housewife', 'merchant', 'teacher', 'engineer',
       'business administrator', 'technician', 'office', 'barber',
       'study and work', 'beautician', 'journalist', 'customer service',
       'landscaping', 'customer support', 'painter', 'chef', 'barista',
       'soccer player', 'work', 'stylist', 'building', 'musician',
       'electrician', 'lawyer', 'universidad', 'nursing', 'military',
       'typist', 'cashier', 'conductor', 'security guard', 'cocina',
       'management', 'entrepreneur', 'male nurse', 'music producer',
       'transport', 'uber', 'assistant', 'paralegal', 'cook',
       'accounting', 'law', 'freelance', 'company', 'worker', 'carpenter',
       'sailor', 'english teacher', 'own', 'marketing', 'no job', 'csr',
       'driver', 'employed', 'administrator', 'independent work',
       'office worker', 'mechanical engineer', 'it', 'retail',
       'constructor', 'electric', 'adviser', 'i dont work', 'electricity',
       'chofer', 'sale', 'industrial engineer', 'call center', 'attendee',
       'regardless', 'a lawyer', 'receptionist', 'social worker',
       'work and study', 'coach', 'hotel', 'farmer', 'profesora',
       'ing industrial', 'contractor', 'laborer', 'owner',
       'general contractor', 'own business', 'mechanic', 'artist',
       'dentist', 'police', 'athlete', 'atm', 'administrative',
       'factory worker', 'graphic designer', 'profesor', 'informatica',
       'business advisor', 'communicator', 'civil engineer', 'amazon',
       'business owner', 'businesswoman', 'nanny', 'maestro', 'writer',
       'retired', 'sport', 'financial advisor', 'medical', 'accountancy',
       'psychologist', 'trade', 'dealer', 'ing', 'manufacturing',
       'civil engineering', 'campo', 'pharmaceutical', 'seller',
       'businessman', 'hvac', 'marino', 'ing civil', 'medico',
       'accountant', 'various trades', 'cabby', 'saleswoman', 'deejay',
       'operator', 'business', 'systems engineer', 'hospitality',
       'shooting guard', 'security', 'security officer', 'medicine',
       'engineering', 'stockbroker', 'restaurant', 'food service',
       'disabled', 'developer', 'delivery man', 'self employer', 'welder',
       'software engineer', 'programmer', 'rancher', 'agronomist',
       'nutritionist', 'singer', 'software developer', 'waiter',
       'agriculture', 'doctor', 'administrative assistant', 'freelancer',
       'enterprise administrator', 'licensed', 'sawmill worker',
       'publicist', 'university lecturer', 'bodega',
       'social communicator', 'guardia', 'economist', 'sales agent',
       'fedex', 'truck driver', 'trader', 'bartender', 'pharmacist',
       'i photograph', 'sub chef', 'turismo', 'advertising', 'fitter',
       'company administrator', 'supervisor', 'architect', 'foreman',
       'commercial', 'real estate agent', 'handyman', 'surveyor',
       'installer', 'physiotherapist', 'kitchen assistant',
       'environmentalist', 'barman', 'vet', 'craftsman', 'gardener',
       'cosmetologa', 'at systems', 'constructor civil', 'own account',
       'chief', 'medical doctor', 'project manager', 'personal trainer',
       'consultant', 'sales advisor', 'trailero', 'computer engineer',
       'accounting assistant', 'law degree', 'cfo', 'tour guide',
       'financial', 'construccion', 'inversionista', 'human resources',
       'construction superintendent', 'small businessman', 'maintenance',
       'electromecanico', 'selfemployed', 'researcher', 'attorney',
       'designer', 'care worker', 'officer', 'none', 'finance',
       'official', 'auditor', 'cocinero', 'informatico', 'guerrero',
       'machinist', 'dishwasher', 'author', 'cosmetology', 'interpreter',
       'banker', 'dental assistant', 'stay at home mom', 'data analyst',
       'executive', 'forklift operator', 'own bussines', 'lecturer',
       'insurance', 'real estate', 'vigilante', 'business manager',
       'pharmacy assistant', 'machine operator', 'quality inspector',
       'health', 'producer', 'translator', 'casa', 'a nurse', 'oil',
       'collection', 'it technician', 'remodel', 'concrete finisher',
       'account manager', 'certified public accountant', 'chapista',
       'trabajador independiente', 'caregiver', 'admin', 'cleaner',
       'assistant manager', 'information technology', 'financier',
       'paint', 'concierge', 'hairdresser', 'bank', 'phd student',
       'tattoo artist', 'photographer', 'security agent',
       'independent worker', 'housekeeper', 'government worker',
       'autonomous', 'investigator', 'legal', 'mechanical engineering',
       'director', 'housekeeping', 'working on my own', 'medic',
       'sales rep', 'health care', 'veterinarian', 'warehouse operator',
       'beauty', 'ceo', 'telecommunication', 'high school teacher',
       'material handler', 'labor', 'pilot', 'chemical', 'realtor',
       'self', 'public employee', 'ing agronomist', 'remodelacion',
       'truckdriver', 'detail', 'service', 'commercial advisor',
       'homemaker', 'sales manager', 'massage therapist', 'government',
       'logistics', 'healthcare', 'education', 'tech', 'sales executive',
       'roofer', 'home', 'technical support', 'music', 'higher education',
       'management consultant', 'electronic engineer', 'technical',
       'furniture', 'janitor', 'employee', 'operations manager',
       'engineer electronic', 'system', 'retail manager', 'electronic',
       'administration', 'tourist guide', 'automotive', 'superior',
       'carrier', 'warehouse', 'withdrawn', 'self employed contractor',
       'probation officer', 'web designer', 'therapist',
       'teacher of english', 'investor', 'civil servant', 'hotel manager',
       'cowboy', 'technology', 'teaching', 'transportation', 'qa',
       'professor', 'computer', 'analyst', 'architecture',
       'office assistant', 'disability', 'managing director', 'rn', 'cna',
       'physician', 'courier', 'agricultural engineer',
       'nursing assistant', 'pensionada', 'counselor', 'comerciante',
       'psychotherapist', 'medical assistant', 'bus driver',
       'in the system', 'commercial manager', 'financial services', 'dj',
       'retired nurse', 'public server', 'bookkeeper',
       'agricultural contractor', 'chemist', 'retire', 'unemployment',
       'military retired', 'cpa', 'business administration', 'tutor',
       'library', 'airline pilot', 'horticulturist', 'free lance',
       'pensioner', 'builder', 'electronic technician', 'scientist',
       'gerente comercial', 'semiretired', 'dietary aide',
       'it project manager', 'craftswoman', 'mental health',
       'company owner', 'withdrawal', 'tailor', 'modeling', 'hairstylist',
       'model', 'travel agent', 'sales marketing', 'fashion', 'modelling',
       'fashion designer', 'military army', 'bank manager', 'trading',
       'professional', 'primary school teacher', 'self employ',
       'marketer', 'hair stylist', 'military service',
       'sales and marketing', 'pediatrician', 'self employee', 'army',
       'medical or finance', 'financial consultant', 'business lady',
       'banking', 'self employment', 'business woman', 'sales girl',
       'art', 'goverment', 'sales person', 'soldier', 'military doctor',
       'event planner', 'medical nurse', 'buying and selling', 'militry',
       'consulting', 'military nurse', 'geologist', 'marine engineering',
       'chemical supplier', 'us army', 'shopkeeper',
       'construction engineer', 'navy', 'business man', 'surgeon',
       'make up artist', 'building engineer', 'force', 'salesmarketing',
       'petroleum engineer', 'project management', 'engineer or military',
       'independent contractor', 'marine engineer', 'building contractor',
       'militery', 'military officer', 'underground mining', 'barrister',
       'construction engineering', 'chemical engineering', 'military man',
       'service man', 'structural engineer', 'oil and gas engineer',
       'civil service', 'building construction',
       'military or construction', 'construction contractor',
       'sales  marketing', 'drilling offshore', 'united nations',
       'captain', 'army general', 'petroleum engineering', 'seaman',
       'united state army'], dtype=object)

In [433]:
for index, row in data.iterrows():
    if "system" == row['translated_occupation_lem']:
        data.at[index , 'translated_occupation_category'] = "tech"

In [440]:
# data[data['translated_occupation']=="college student"]
data['translated_occupation_category'].fillna('others',inplace=True)

In [442]:
data['translated_occupation_category'].value_counts().sum()

7934

In [444]:
data.to_csv("data_cat_draft.csv")

In [7]:
data = pd.read_csv("data_cat_draft.csv")
data.drop(columns=["Unnamed: 0","Unnamed: 0.1"],inplace=True)

In [8]:
data

,username,age,occupation,status,gender,filtered sentence,y,translated_occupation,translated_occupation_lem,translated_occupation_category
0,sandralee,19,student,single,female,Im really chill person looking someone chill I...,0,student,student,student
1,dayana16,19,estudiante,single,female,white Bisexual Other nonsmoker occasional drin...,0,student,student,student
2,Denn_,19,Estudiante,single,female,hispanic Bisexual Atheist nonsmoker never Fun ...,0,student,student,student
3,Gabrielita,19,Estudiante,single,female,hispanic Bisexual Christian nonsmoker never Se...,0,student,student,student
4,Luisa5401,19,Estudiante,single,female,hispanic Straight Other nonsmoker never Fun Fr...,0,student,student,student
...,...,...,...,...,...,...,...,...,...,...
7929,devortedman900,69,Engineer,widow,male,I told I great sense humour judge I would desc...,1,engineer,engineer,engineer
7930,antonie07,71,self employed,divorced,male,I determined cheerful happy whatever situation...,1,self employed,self employed,self employed
7931,wesleyclary,72,military,widow,male,Yea loving caring man honest fault always loya...,1,military,military,military
7932,charitywork,73,self-employed,widow,female,good investor good heart help needy poor,1,selfemployed,selfemployed,self employed
7933,jimmy438,74,self employed,widow,male,Im man likes take road less traveled I enjoy l...,1,self employed,self employed,self employed

In [10]:
data1 = pd.read_csv("eda/final_combined_profile.csv")
data1

,username,age,occupation,status,gender,filtered sentence,Language,y,translated_occupation,status_lem
0,123canwe,66.0,Retired,single,male,I full fire friskier hell,tr,0,Retired,single
1,123WILFREDO,28.0,ESTUDIANTE,single,male,ME GUSTA CONOCER CHICAS BONDADOSAS CARIÑOSAS Y...,es,0,STUDENT,single
2,1907,48.0,Construction,single,male,laid back earth good sense humor,en,0,Construction,single
3,52Jim52,70.0,Retired,divorced,male,Retired owner aerospace consuloting firm,da,0,Retired,divorced
4,Aaron90,28.0,Social worker,single,male,Hello aaron Vermont I vermont 2 years Im reall...,en,0,Social worker,single
...,...,...,...,...,...,...,...,...,...,...
8447,zak123hicks,36.0,soldier,widowed,male,Im earth caring honest going loves fun vacatio...,af,1,soldier,widowed
8448,zarifa2,24.0,student,single,female,I never know I write part lameSo Im ordinary n...,nl,1,student,single
8449,zerenab,31.0,self employment,single,female,I serious mature woman good valueslearned home...,fr,1,self employment,single
8450,zikki100,36.0,nurse,single,female,Im good woman looking good man One best friend...,ro,1,nurse,single
8451,zoey094,23.0,teacher,single,female,I would like meet man become life partner Some...,en,1,teacher,single

In [20]:
data1.drop(data.columns.difference(['username','translated_occupation_lem','translated_occupation_category']), 1, inplace=True)
new_data = data1.merge(data,how='left', left_on='username', right_on='username')
new_data

/var/folders/29/2m5z5b_s3298ch9l_66c_x700000gn/T/ipykernel_1381/1641953210.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data.drop(data.columns.difference(['username','translated_occupation_lem','translated_occupation_category']), 1, inplace=True)

,username,age,occupation,status,gender,filtered sentence,Language,y,translated_occupation,status_lem,translated_occupation_lem,translated_occupation_category
0,123canwe,66.0,Retired,single,male,I full fire friskier hell,tr,0,Retired,single,retired,NaN
1,123WILFREDO,28.0,ESTUDIANTE,single,male,ME GUSTA CONOCER CHICAS BONDADOSAS CARIÑOSAS Y...,es,0,STUDENT,single,student,student
2,1907,48.0,Construction,single,male,laid back earth good sense humor,en,0,Construction,single,construction,construction
3,52Jim52,70.0,Retired,divorced,male,Retired owner aerospace consuloting firm,da,0,Retired,divorced,retired,NaN
4,Aaron90,28.0,Social worker,single,male,Hello aaron Vermont I vermont 2 years Im reall...,en,0,Social worker,single,social worker,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8449,zak123hicks,36.0,soldier,widowed,male,Im earth caring honest going loves fun vacatio...,af,1,soldier,widowed,NaN,NaN
8450,zarifa2,24.0,student,single,female,I never know I write part lameSo Im ordinary n...,nl,1,student,single,NaN,NaN
8451,zerenab,31.0,self employment,single,female,I serious mature woman good valueslearned home...,fr,1,self employment,single,NaN,NaN
8452,zikki100,36.0,nurse,single,female,Im good woman looking good man One best friend...,ro,1,nurse,single,NaN,NaN
8453,zoey094,23.0,teacher,single,female,I would like meet man become life partner Some...,en,1,teacher,single,NaN,NaN

In [39]:
for index, row in new_data.iterrows():
    if "entre" in row['translated_occupation_lem']:
        new_data.at[index , 'translated_occupation_category'] = "self employed"

In [43]:
new_data[new_data['translated_occupation_category'].isna()]['translated_occupation_lem'].unique()

array(['Social worker', 'journalist', 'Designer', 'Chef', 'Sales',
       'Service', 'Author', 'Care worker', 'Collection', 'Chofer',
       'Lawyer', 'Engineer', 'Disabled', 'Agricultural Contractor',
       'Architect', 'Marketing', 'telecommunication', 'health',
       'Handyman', 'Management', 'Business', 'Journalist',
       'airline pilot', 'Artist', 'Musician', 'Factory Worker', 'Retired',
       'Doctor', 'Restaurant', 'Entrepreneur', 'Electrician',
       'Government', 'Retire', 'Laborer', 'Welder', 'Transport',
       'Healthcare', 'Receptionist', 'Ing Industrial', 'Food service',
       'Graphic Designer', 'Janitor', 'welder', 'Contractor', 'Foreman',
       'merchant', 'Craftsman', 'Administrative', 'Health care',
       'semiretired', 'Retail', 'admin', 'Stay at home mom',
       'Administrator', 'Consultant', 'Driver', 'CSR', 'No job',
       'Engineering', 'Writer', 'Social Worker', 'unemployed', 'Chemical',
       'Mechanic', 'Business Administrator', 'Details', 'Dishwasher',
       'Auditor', 'Data Analyst', 'Employed', 'lawyer', 'Cook',
       'Accounting', 'Administration', 'Housekeeping', 'Cleaner',
       'Cashier', 'Admin', 'business', 'sale', 'Assistant', 'driver',
       'IT', 'Building', 'SelfEmployed', 'Producer', 'Bookkeeper',
       'Lecturer', 'Dentist', 'Adviser', 'Accountant', 'freelancer',
       'Web Designer', 'remodel', 'Translator', 'Forklift operator',
       'Security', 'Researcher', 'Tattoo artist', 'Manufacturing',
       'truck driver', 'Nursing', 'bartender', 'Free lance', 'Courier',
       'Truck Driver', 'Operator', 'Disability', 'Pharmacist',
       'marketing', 'Freelancer', 'Caregiver', 'Bus Driver',
       'Horticulturist', 'consultant', 'Dietary aide', 'CNA', 'CONTADOR',
       'None', 'architect', 'Bank', 'Tourist Guide', 'Profesora',
       'businessman', 'System technique', 'Psychotherapist',
       'Business Administration', 'economist', 'Physician', 'Chemist',
       'Therapist', 'security', 'Businessman', 'Supervisor',
       'Personal trainer', 'RN', 'Barber', 'Autonomous',
       'Customer service', 'Semiretired', 'Trader', 'Delivery man',
       'Concrete finisher', 'managing director', 'Real Estate',
       'withdrawn', 'Transportation', 'Legal', 'Housekeeper', 'Hvac',
       'Small business owner', 'Contador', 'engineer', 'transport',
       'Warehouse', 'Logistics', 'CEO', 'Pensioner', 'Realtor',
       'Maintenance', 'Director', 'Pilot', 'Photographer', 'Landscaping',
       'Management Consultant', 'Painter', 'Automotive',
       'Government Worker', 'Programmer', 'General Contractor',
       'Psychologist', 'Sawmill worker', 'Health Care', 'administrator',
       'Tutor', 'Machinist', 'ATTORNEY', 'Homemaker', 'trade',
       'Developer', 'security guard', 'Trade', 'Seller', 'management',
       'Social communicator', 'Pharmaceutical', 'Merchant', 'Secretary',
       'musician', 'Informatico', 'Stylist', 'Freelance', 'Technician',
       'Accountancy', 'Barista', 'Degree in administration', 'singer',
       'Certified Public Accountant', 'A lawyer', 'Business owner',
       'Housewife', 'Profesor', 'designer', 'Economist', 'Law',
       'attorney', 'Analyst', 'Agriculture', 'I photograph', 'Furniture',
       'Electronic Engineer', 'Customer Support', 'Commercial Advisor',
       'Conductor', 'Various trades', 'insurance', 'building',
       'Truck driver', 'electrical technician', 'Factory worker',
       'Mechanical engineer', 'seller', 'Primary school teacher',
       'tailor', 'ARCHITECT', 'Automotive technician', 'psychologist',
       'Small Business Owner', 'It', 'Installer', 'Bartender', 'Computer',
       'Public server', 'Regardless', 'accountant', 'cna', 'Cocina',
       'administration', 'ATM', 'heavy machinery mechanic', 'law',
       'Beautician', 'Graphic designer', 'Hospitality', 'Nutritionist',
       'Physiotherapist', 'Commercial', 'Cosmetologa', 'Paralegal',
       'ENTREPRENEUR', 'Cocinero', 'contador', 'Music producer',
       'profesor', 'Roofer', 'advertising', 'Education', 'Farmer', 'chef',
       'Attendee', 'Security agent', 'Telecommunications Technician',
       'Uber', 'mechanic', 'withdrawal', 'Insurance', 'superior',
       'Photography', 'contractor', 'Maestro', 'Dealer', 'Interpreter',
       'CPA', 'I dont work', 'Casa', 'Hostelry', 'Health', 'a lawyer',
       'Health area', 'painter', 'Electronic', 'administrative',
       'Vigilante', 'Kitchen assistant', 'Material handler', 'QA',
       'Worker', 'Fashion designer', 'Campo', 'Concierge',
       'graphic designer', 'Industrial mechanic', 'Ing Civil',
       'communicator', 'government', 'Trailero', 'Rancher',
       'Company administrator', 'Administrative assistant', 'Nanny',
       'business administrator', 'Human Resources', 'pensionada',
       'ADMINISTRATOR', 'Labor', 'ING', 'Home', 'albanil', 'Cabby',
       'business advisor', 'computer', 'worker', 'Chapista',
       'civil servant', 'Ing Agronomo', 'Scientist', 'Hotel', 'Guardia',
       'dentist', 'Ing Mecanico', 'police', 'Electric', 'Mental health',
       'typist', 'Agronomist', 'Athlete', 'tattoo artist', 'Policeman',
       'Fitter', 'system', 'public employment', 'Coach',
       'Accounting assistant', 'Licensed', 'adviser', 'cook',
       'quality inspector', 'Adm Asst', 'Massage therapist', 'autonomous',
       'turismo', 'electronics', 'Customer Service', 'Deejay',
       'electrician', 'electronic technician', 'Carrier', 'Ing civil',
       'Pharmacy assistant', 'Pharmaceutical chemist', 'COMERCIANTE',
       'Sub chef', 'Machine operator', 'licensed', 'Selfemployed',
       'library', 'Law Degree', 'businesswoman', 'work',
       'Agricultural engineer', 'Soccer player', 'Electricity', 'CFO',
       'Ing', 'Informatica', 'Craftswoman', 'professor', 'Cowboy',
       'farmer', 'Environmentalist', 'Turismo', 'Chief', 'Paint',
       'pharmaceutical', 'small businessman', 'cashier', 'Advertising',
       'Civil servant', 'Employee', 'Guerrero', 'Tour guide',
       'Real estate agent', 'aesthetic', 'COMMERCIAL MANAGER', 'LAWYER',
       'Bodega', 'artist', 'supervisor', 'Electro Mechanical technician',
       'patient assistant', 'Independent', 'Builder', 'hospitality', 'DJ',
       'Sport', 'Sports', 'Biologist', 'photographer', 'In Sistemas',
       'Banker', 'Fedex', 'Ing industrial', 'Marino',
       'Mechanical technician', 'Admnistrative technician',
       'public employee', 'Veterinarian', 'informatica', 'public server',
       'Worked', 'Publicist', 'conductor', 'college student',
       'in the system', 'Inversionista', 'Remodelacion', 'Bus driver',
       'Counselor', 'Cosmetology', 'pensioner', 'Csr', 'Barman', 'Oil',
       'hairdresser', 'Music', 'Economy', 'Systems Analyst',
       'Psychology student', 'stockbroker', 'Refrigeration technician',
       'Gardener', 'Journalists', 'PUBLIC EMPLOYEE', 'Pensionada',
       'Amazon', 'Architecture', 'warehouse operator', 'Companies', 'Vet',
       'Beauty', 'Teacher', 'Investor', 'Sailor', 'PHARMACIST',
       'nursing assistant', 'maestro', 'MD', 'Dental assistant', 'trader',
       'Electromecanico', 'Shooting guard', 'Administrative Assistant',
       'Truckdriver', 'student', 'Building Contractor', 'self employed',
       'Telecommunications', 'nurse', 'legal', 'manager', 'army',
       'nursing', 'finance', 'Structural Engineer', 'military',
       'consulting', 'selfemployed', 'Petroleum Engineer',
       'Mechanical Engineer', 'seaman', 'Medical Doctor',
       'military officer', 'doctor', 'secretary', 'Medical',
       'medical doctor', 'engineering', 'Marine Engineer',
       'military army', 'building contractor', 'model', 'business man',
       'military service', 'Sales and marketing', 'medical or finance',
       'us army', 'marine engineer', 'US Army', 'civil engineer',
       'business owner', 'Manager', 'marketer', 'soldier', 'construction',
       'Civil Engineer', 'Self employed', 'trading', 'healthcare',
       'Underground Mining', 'nanny', 'Independent Contractor',
       'hairstylist', 'construction engineer', 'in', 'many', 'teacher',
       'modelling', 'clerk', 'Self Employed', 'stylist',
       'Fashion Designer', 'service', 'banker', 'sales  marketing',
       'Construction', 'general contractor', 'Marine Engineering',
       'Business man', 'business lady', 'business woman', 'navy',
       'Pediatrician', 'geologist', 'Military', 'United State Army',
       'executive', 'beauty', 'militery', 'Military officer',
       'beautician', 'US army', 'Project Manager', 'medical', 'waitress',
       'Travel Agent', 'Civil Engineering', 'service man',
       'Military doctor', 'architecture', 'surgeon', 'Medical doctor',
       'Business woman', 'Project Management', 'Military man',
       'Hair stylist', 'military doctor', 'Business Owner', 'self',
       'education', 'Finance', 'retired', 'Defence', 'project manager',
       'civil engineering', 'Geologist', 'Surgeon', 'Project manager',
       'Self Employ', 'Marine engineer', 'banking', 'self employ',
       'medical assistant', 'Army officer', 'make up artist',
       'sales girl', 'fashion', 'barrister', 'Sales and Marketing',
       'financial consultant', 'Army General', 'real estate',
       'self employee', 'Building engineer', 'Building contractor',
       'professional', 'Building Construction',
       'military or construction', 'Hair Stylist',
       'Construction Engineer', 'force', 'bank manager', 'hair stylist',
       'sailor', 'engineer or military', 'Self employer',
       'fashion designer', 'art', 'Military Nurse', 'Militry',
       'Hairdresser', 'sales manager', 'buying and selling',
       'construction engineering', 'Hairstylist', 'oil and gas engineer',
       'Civil engineering', 'construction contractor', 'General Surgeon',
       'realtor', 'Business lady', 'shopkeeper', 'electrical engineer',
       'modeling', 'Sales manager', 'surveyor', 'Medical Nurse',
       'Construction Engineering', 'Mechanical Engineering',
       'civil service', 'drilling offshore', 'Chemical Engineering',
       'sales person', 'officer', 'Sales Marketing', 'goverment',
       'Chemical supplier', 'own business', 'Military Doctor',
       'social worker', 'Military Army', 'Executive',
       'Petroleum Engineering', 'self employment', 'United Nations',
       'captain', 'director', 'SalesMarketing', 'event planner'],
      dtype=object)

In [46]:
new_data

,username,age,occupation,status,gender,filtered sentence,Language,y,translated_occupation,status_lem,translated_occupation_lem,translated_occupation_category
0,123canwe,66.0,Retired,single,male,I full fire friskier hell,tr,0,Retired,single,Retired,retired
1,123WILFREDO,28.0,ESTUDIANTE,single,male,ME GUSTA CONOCER CHICAS BONDADOSAS CARIÑOSAS Y...,es,0,STUDENT,single,STUDENT,student
2,1907,48.0,Construction,single,male,laid back earth good sense humor,en,0,Construction,single,Construction,construction
3,52Jim52,70.0,Retired,divorced,male,Retired owner aerospace consuloting firm,da,0,Retired,divorced,Retired,retired
4,Aaron90,28.0,Social worker,single,male,Hello aaron Vermont I vermont 2 years Im reall...,en,0,Social worker,single,Social worker,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8449,zak123hicks,36.0,soldier,widowed,male,Im earth caring honest going loves fun vacatio...,af,1,soldier,widowed,soldier,NaN
8450,zarifa2,24.0,student,single,female,I never know I write part lameSo Im ordinary n...,nl,1,student,single,student,NaN
8451,zerenab,31.0,self employment,single,female,I serious mature woman good valueslearned home...,fr,1,self employment,single,self employment,NaN
8452,zikki100,36.0,nurse,single,female,Im good woman looking good man One best friend...,ro,1,nurse,single,nurse,NaN
8453,zoey094,23.0,teacher,single,female,I would like meet man become life partner Some...,en,1,teacher,single,teacher,NaN

## Attempted to use topic modelling to automated categorising but it was not helpful

In [40]:
def sent_to_words(sentences):
    for sentence in sentences:
        # deacc=True removes punctuations
        yield(gensim.utils.simple_preprocess(str(sentence), deacc=True))

In [79]:
odata_words = list(sent_to_words(occupation))

[['retired']]

In [76]:
def flatten(lis):
    flatList = []
    # Iterate with outer list
    for element in lis:
        if type(element) is list:
            # Check if type is list than iterate through the sublist
            for item in element:
                flatList.append(item)
        else:
            flatList.append(element)
    return flatList

In [82]:
odata_flatten = flatten(odata_words)
odata_flatten
# odata_words
print(odata_flatten[:30])

['retired', 'estudiante', 'construction', 'retired', 'social', 'worker', 'retired', 'executive', 'journalist', 'designer', 'retired', 'chef', 'entrepreneur', 'student', 'retired', 'medical', 'service', 'author', 'engineer', 'retired', 'lawyer', 'teacher', 'care', 'worker', 'cobranza', 'chofer', 'lawyer', 'disabled', 'it', 'technician']

In [90]:
import gensim.corpora as corpora
# # Create Dictionary
id2word = corpora.Dictionary(odata_words)
# Create Corpus
texts = odata_words
# Term Document Frequency
corpus = [id2word.doc2bow(text) for text in texts]
# View
print(corpus[:1][0][:30])

[(0, 1)]

In [91]:
from pprint import pprint
# number of topics
num_topics = 10
# Build LDA model
lda_model = gensim.models.LdaMulticore(corpus=corpus,
                                       id2word=id2word,
                                       num_topics=num_topics)
# Print the Keyword in the 10 topics
pprint(lda_model.print_topics())
doc_lda = lda_model[corpus]

[(0,
  '0.108*"business" + 0.078*"engineer" + 0.061*"nurse" + 0.054*"retired" + '
  '0.033*"abogado" + 0.028*"owner" + 0.024*"student" + 0.023*"manager" + '
  '0.018*"social" + 0.017*"worker"'),
 (1,
  '0.195*"self" + 0.191*"employed" + 0.055*"student" + 0.045*"military" + '
  '0.038*"estudiante" + 0.019*"abogado" + 0.018*"driver" + 0.018*"ventas" + '
  '0.013*"docente" + 0.012*"truck"'),
 (2,
  '0.094*"ingeniero" + 0.066*"independiente" + 0.050*"tecnico" + '
  '0.048*"engineering" + 0.026*"mecanico" + 0.026*"contador" + 0.024*"de" + '
  '0.022*"engineer" + 0.021*"nurse" + 0.017*"comerciante"'),
 (3,
  '0.072*"student" + 0.068*"construction" + 0.048*"business" + '
  '0.035*"estudiante" + 0.033*"doctor" + 0.033*"profesor" + 0.032*"military" + '
  '0.030*"enfermera" + 0.028*"chofer" + 0.026*"administrador"'),
 (4,
  '0.105*"retired" + 0.070*"student" + 0.061*"ingeniero" + 0.058*"estudiante" '
  '+ 0.049*"docente" + 0.043*"comerciante" + 0.024*"nurse" + '
  '0.023*"independiente" + 0.021*"gerente" + 0.020*"tecnico"'),
 (5,
  '0.121*"independiente" + 0.078*"comerciante" + 0.052*"engineer" + '
  '0.043*"student" + 0.038*"ingeniero" + 0.033*"contractor" + 0.024*"self" + '
  '0.022*"military" + 0.022*"driver" + 0.018*"army"'),
 (6,
  '0.066*"employed" + 0.064*"self" + 0.048*"contractor" + 0.046*"retired" + '
  '0.041*"de" + 0.039*"estudiante" + 0.034*"construction" + 0.027*"doctor" + '
  '0.025*"teacher" + 0.023*"casa"'),
 (7,
  '0.109*"engineer" + 0.067*"employed" + 0.067*"self" + 0.056*"empresario" + '
  '0.049*"civil" + 0.040*"teacher" + 0.034*"retired" + 0.028*"manager" + '
  '0.027*"ingeniero" + 0.017*"business"'),
 (8,
  '0.231*"military" + 0.046*"student" + 0.045*"chef" + 0.027*"medico" + '
  '0.026*"ingeniero" + 0.025*"construccion" + 0.023*"sales" + 0.020*"mecanico" '
  '+ 0.017*"marketing" + 0.017*"teacher"'),
 (9,
  '0.137*"engineer" + 0.061*"self" + 0.061*"employed" + 0.060*"sales" + '
  '0.050*"manager" + 0.029*"nurse" + 0.024*"lawyer" + 0.023*"civil" + '
  '0.023*"comerciante" + 0.021*"military"')]

In [127]:
data['occupation'].groupby(occupation).count()

occupation
 Accountant         5
 Administration     5
 Administrative     6
 Architect         11
 Architecture       3
                   ..
vendedor            5
ventas              3
welder              3
Área de salud       2
Преподаватель       2
Name: occupation, Length: 1016, dtype: int64