In [1]:
import pandas as pd
import numpy as np

In [44]:
combined_df = pd.read_csv('combined_profile.csv')

In [45]:
combined_df.head()

,username,age,occupation,status,gender,filtered sentence,y
0,williamgeorge,44,Doctoral student,single,male,Tired Millennial outlook I see around Is woman...,0
1,lion10x,59,legal services,divorced,male,I good man healthy honest high educated always...,0
2,valeriaaoficial,22,asistente de produccion,single,female,Hello Valeria looking someone form stable last...,0
3,Luistroy,42,Construction,single,male,Im 56 weigh 140 black hair brown eyes slim loo...,0
4,Jonjon46,49,Landscaper/cook an baker jack of all trades,single,male,Im laid back easy going guy funny love cars mu...,0

In [46]:
from sklearn import preprocessing
from sklearn.compose import ColumnTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import OneHotEncoder

In [47]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12859 entries, 0 to 12858
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   username           12859 non-null  object
 1   age                12858 non-null  object
 2   occupation         12855 non-null  object
 3   status             12787 non-null  object
 4   gender             12859 non-null  object
 5   filtered sentence  12859 non-null  object
 6   y                  12859 non-null  int64
dtypes: int64(1), object(6)
memory usage: 703.4+ KB

In [48]:
le = preprocessing.LabelEncoder()
combined_df["gender"] = le.fit_transform(combined_df["gender"])
combined_df["status"] = le.fit_transform(combined_df["status"])
combined_df.head()

,username,age,occupation,status,gender,filtered sentence,y
0,williamgeorge,44,Doctoral student,18,1,Tired Millennial outlook I see around Is woman...,0
1,lion10x,59,legal services,14,1,I good man healthy honest high educated always...,0
2,valeriaaoficial,22,asistente de produccion,18,0,Hello Valeria looking someone form stable last...,0
3,Luistroy,42,Construction,18,1,Im 56 weigh 140 black hair brown eyes slim loo...,0
4,Jonjon46,49,Landscaper/cook an baker jack of all trades,18,1,Im laid back easy going guy funny love cars mu...,0

In [51]:
# features
X = combined_df[['age','occupation','gender','filtered sentence']]

# target
y = combined_df['y']

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 424)

In [ ]:

##im not sure how to apply the tf idf to the filtered sentence column
Tfidf_vect = TfidfVectorizer(max_features=5000)
Tfidf_vect.fit(Corpus['text_final'])
Train_X_Tfidf = Tfidf_vect.transform(Train_X)
Test_X_Tfidf = Tfidf_vect.transform(Test_X)